@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.app {
	position: relative;
	width: 100%;
	height: 100vh;
	text-align: center;
	background-image: url('image/background.jpg');
	background-size: cover;
	background-color: #818080;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app__wrapper {
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 100%;
}
.fl{
	width: 100%;
}

.step {
	display: block;
	padding-top: 10px;
	color: white;
	position: absolute;
	top: 20px;
}

.error {
	border: 1px dashed red;
	outline: none;
}

.label {
	display: block;
	color: red;
	margin: -20px 0 10px 0;
	font-size: 14px;
	position: relative;
	bottom: -50px;
}

input {
	position: relative;
	bottom: -50px;
	margin-bottom: 20px;
	width: 50%;
	padding: 5px 10px;
	border-radius: 4px;
	outline: auto;
	background: #ccccccc2;
	color: white;
	font-size: 20px;
}

.quest.txt {
	position: relative;
	width: 80%;
	text-align: center;
	border: 5px solid #ccc;
	background: #ccc6;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
    font-weight: 600;
    font-size: 28px;
	text-shadow: 1px 3px 2px #000;
}

.quest.img {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.quest-img{
	height: 70%;
	width: 70%;
}
.hint{
	display: none;
	width: 30px;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	transition: .3s;
}
.hint:hover{
	transform: scale(1.1);
}
.hint.active{
	display: block;
}
.hint-length{
	display: none;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: .3s;
	border-radius: 50%;
	border: 2px solid white;
	background-color: rgb(0 0 0 / 53%);
	font-size: 16px;
}
.hint-length.active{
	display: block;
}

.descr{
	display: none;
	position: absolute;
	top: 25px;
	margin: 0 auto;
	width: fit-content;
	left: 5px;
	right: 5px;
	border: 1px solid white;
	border-radius: 10px;
	background: #000000a1;
	height: 100;
	align-items: center;
	justify-content: center;
	transition: .3s;
	white-space: nowrap;
	padding: 5px 5px;
}
.descr.active{
	display: flex;
}

img {
	width: 100%;
}

button {
	padding: 7px 40px;
	background-color: #ccc9;
	color: white;
	border-radius: 7px;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	transition: .3s;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.473);
}
.final{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: white;
    font-weight: 600;
    font-size: 40px;
	text-shadow: 1px 3px 2px #000;
}

@media (max-width: 768px) {
	.quest.txt{
		font-size: 18px;
	}
	input{
		width: 90%;
	}
	.descr{
		font-size: 16px;
		white-space: inherit;
	}
	.label{
		font-size: 10px;
	}
}